.appRoot {
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
}

.leftnav {
   z-index: 1;
   transition: left 0.2s linear;
}

.mainComponent {
   padding: 5px;
   background-color: #fff;
   border-top: 1px solid #e3dfdc;
   border-left: 1px solid #e3dfdc;
   opacity: 1;

   transition: opacity .08s ease-in-out;
}