@-ms-viewport{
  width: device-width;
}



/***************************  NPROGRESS END ***********************/

.hideMe {
   display: none !important;
}
.nomarg, p.nomarg {
    margin: 0;
}
.fRight {
   float: right;
}
.fLeft {
   float: left;
}
.noFloat {
   float: none !important;
}
.posRel {
    position: relative;
}
.clear { clear: both !important; }

/*** miscellaneous colors ***/
   .green { color: #657B00 !important; }
   .red { color: #f00 !important; }
   .blue { color: #2ba2e7; }
   .darkBlue, .darkBlue a, a.darkBlue { color: #1874ab !important; } /* #pOrder input color must match this!!! */
   .darkerBlue, .darkerBlue a, a.darkerBlue { color: #2e6e9e !important; }
   .darkPink { color: #d80d4c !important; }
   .mediumPink { color: #e780a6; }
   .darkPinkBG { background-color: #d80d4c !important; }
   .pink { color: #bb4e6b; }
   .redPink, .redPink a:link, .redPink a:visited, .redPink a:hover, .redPink a:active { color: #c82d62 !important; }
   .grey, .grey a:link, .grey a:visited, .grey a:hover, .grey a:active { color: #454545 !important; }
   .darkGrey, .darkGrey a { color: #474747 !important; }
   .lightGrey, .lightGrey a { color: #999999 !important; }
   .darkestGrey, .darkestGrey a { color: #2f2f2f !important; }
   .lightBlue { color: #0571b9; }
   .gBackLight { background-color: #F6F6F6; }
   .lighterBlue { color: #a6c9e2; }
/*** END miscellaneous colors ***/

.subHeader {
   text-align: center;
   padding: 3px;
   font-size: 1.4em !important;
   margin: 5px 0px 10px 0px;

   &.yellow {
      background-color: #FBEC88;
      border: 1px solid #FAD42E;
      border-radius: 7px;
   }
}

.lightBlueButton {
   border: 1px solid #C5DBEC;
   border-radius: 7px;

   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaf5fe+0,eaf5fe+48,e6f3fd+52,e6f3fd+100 */
   background: #eaf5fe !important; /* Old browsers */
   background: -moz-linear-gradient(top,  #eaf5fe 0%, #eaf5fe 48%, #e6f3fd 52%, #e6f3fd 100%) !important; /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #eaf5fe 0%,#eaf5fe 48%,#e6f3fd 52%,#e6f3fd 100%) !important; /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #eaf5fe 0%,#eaf5fe 48%,#e6f3fd 52%,#e6f3fd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   &:hover {
      border-color: #79B7E7;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deedf8+0,deedf8+48,d9eaf7+52,d9eaf7+100 */
      background: #deedf8 !important; /* Old browsers */
      background: -moz-linear-gradient(top,  #deedf8 0%, #deedf8 48%, #d9eaf7 52%, #d9eaf7 100%) !important; /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #deedf8 0%,#deedf8 48%,#d9eaf7 52%,#d9eaf7 100%) !important; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #deedf8 0%,#deedf8 48%,#d9eaf7 52%,#d9eaf7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   }
}

.veryLightBlueButton {
   border: 1px solid #C5DBEC;
   border-radius: 7px;
   background-color: #F4FBFF !important;
   &:hover {
      border-color: #79B7E7;
      background-color: #F4FBFF !important;
   }
}

.mediumBlueButton_Horizontal {
   border: 1px solid #d7ebff;
   border-radius: 7px;

   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d7ebff+0,b0daf3+43,b0daf3+80,d7ebff+100 */
   background: #d7ebff !important; /* Old browsers */
   background: -moz-linear-gradient(left,  #d7ebff 0%, #b0daf3 43%, #b0daf3 80%, #d7ebff 100%) !important; /* FF3.6-15 */
   background: -webkit-linear-gradient(left,  #d7ebff 0%,#b0daf3 43%,#b0daf3 80%,#d7ebff 100%) !important; /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right,  #d7ebff 0%,#b0daf3 43%,#b0daf3 80%,#d7ebff 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   &:hover {
      border-color: #79B7E7;

   }
}

.blueHeader {
   margin: 8px;
   padding: 3px !important;
   border: 1px solid #4297d7;
   border-radius: 7px;
   position: relative;
   color: #fff;

   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#89b7da+0,89b7da+40,70a8d2+60,70a8d2+100 */
   background: #89b7da; /* Old browsers */
   background: -moz-linear-gradient(top,  #89b7da 0%, #89b7da 40%, #70a8d2 60%, #70a8d2 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #89b7da 0%,#89b7da 40%,#70a8d2 60%,#70a8d2 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #89b7da 0%,#89b7da 40%,#70a8d2 60%,#70a8d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   &[role='tablist'] {
      margin: 0px;
      padding-bottom: 0px !important;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      button {
         font-weight: bold !important;
         padding: 3px 5px !important;
         margin: 0px 2px;

         &[aria-selected='false'] {
            color: #666;
         }
      }
   }

   button {
      top: 2px;
      right: 2px;
      color: #000;

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaf5fe+0,eaf5fe+45,e6f3fd+55,e6f3fd+100&0.7+0,0.7+100 */
      background: -moz-linear-gradient(top,  rgba(234,245,254,0.7) 0%, rgba(234,245,254,0.7) 45%, rgba(230,243,253,0.7) 55%, rgba(230,243,253,0.7) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(234,245,254,0.7) 0%,rgba(234,245,254,0.7) 45%,rgba(230,243,253,0.7) 55%,rgba(230,243,253,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(234,245,254,0.7) 0%,rgba(234,245,254,0.7) 45%,rgba(230,243,253,0.7) 55%,rgba(230,243,253,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      &:hover {
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaf5fe+0,eaf5fe+45,e6f3fd+55,e6f3fd+100 */
         background: rgb(234,245,254); /* Old browsers */
         background: -moz-linear-gradient(top,  rgba(234,245,254,1) 0%, rgba(234,245,254,1) 45%, rgba(230,243,253,1) 55%, rgba(230,243,253,1) 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(top,  rgba(234,245,254,1) 0%,rgba(234,245,254,1) 45%,rgba(230,243,253,1) 55%,rgba(230,243,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom,  rgba(234,245,254,1) 0%,rgba(234,245,254,1) 45%,rgba(230,243,253,1) 55%,rgba(230,243,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
   }
}

/******* BEGIN REACT DATEPICKER STUFF **********/
/* probably best to just leave this at the bottom :( */
.react-datepicker {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 90px;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  /* height: 8px; */
}

.react-datepicker__navigation--previous {
  border-right-color: #cbd5e0;
}

.react-datepicker__navigation--previous:hover {
  border-right-color: #a0aec0;
}

.react-datepicker__navigation--next {
  border-left-color: #cbd5e0;
}

.react-datepicker__navigation--next:hover {
  border-left-color: #a0aec0;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: inline-block;
}

.react-datepicker__header {
  border-radius: 0;
  background: #f7fafc;
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__time-container {
  border-color: #e2e8f0;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: inherit;
  font-weight: 600;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  margin: 0 1px 0 0;
  height: auto;
  padding: 7px 10px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  background: #edf2f7;
}

.react-datepicker__day {
   /* padding: 5px;
   font-size: 2em; */
}
.react-datepicker__day:hover {
  background: #edf2f7;
  color: #000;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background: #3182ce;
  font-weight: normal;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background: #2a69ac;
}

.react-datepicker__month {
   margin: 0px;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
   width: 2.8rem;
   height: 2.8rem;
   font-size: 1.3em;
   padding-top: 0.5rem;
   margin: 0px;
}

.react-datepicker__day {
   border-top: 1px solid #ccc;
   border-right: 1px solid transparent;
   border-bottom: 1px solid transparent;
   border-left: 1px solid #ccc;
   border-radius: 0px;
   font-weight: 500;
}

.react-datepicker__day.react-datepicker__day--outside-month {
   color: #ccc;
   font-weight: normal;
}

.react-datepicker__day:first-child {
   border-left: none;
}
.react-datepicker__day:hover {
   border-radius: 0px;
   border-color: #00f;
}
.react-datepicker__current-month {
   font-size: 1.2em;
   /* border-bottom: 1px solid #ccc;
   padding-bottom: 3px; */
}
.react-datepicker__tab-loop {
   display: inline-block;
}
.react-datepicker-popper {
   z-index: 999;
}
.react-datepicker {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(153,153,153,0.6);
    box-shadow: 0px 0px 5px 3px rgba(153,153,153,0.6);
}
/******* END REACT DATEPICKER STUFF **********/

.chakraUI_buttonIconSeparator_right {
   height: 100%;
   width: 1px;
   border-left: 1px solid #fff;
   margin-left: 7px;
}