.header {
   position: relative;
   background-color: #fff;
   /* overflow: hidden; */
}

.logo {
   margin: 4px 0 0 15px;
   height: 74px !important;
   width: 306px;
   background-repeat: no-repeat;
}

.logo a {
   display: block;
   height: 100%;
   width: 100%;
}

.phoneNumber {
   font-weight: bold;
   margin: 0px 5px;
}
.phoneNumber img {
   margin-right: 3px;
   display: inline;
   position: relative;
   top: -2px;
}
.headerCart {
   margin: 5px;
   position: absolute;
   top: 6px;
   right: 6px;
}
.siteAssistance {
   height: 22px;
   top: -1px;
   position: relative;
   z-index: 2;
}

.miscLinksBGL {
   width: 4px;
   background-position: -109px -92px;
   height: 100%;
}

.siteAssistanceNav {
   background-image: url('https://www.favorfavor.com/images/misc/miscSpriteHR.png');
   background-position: 0 -88px;
   background-repeat: repeat-x;
   font-weight: bold;
   color: #fff;
   font-size: .9em;
   white-space: nowrap;
   padding-right: 5px;
   padding-left: 5px;

   border-bottom-left-radius: 7px;
}
.siteAssistanceNav > div > button {
   font-weight: bold;
}
.siteAssistanceNav > a {
   height: 22px;
   display: inline-block;
}
.siteAssistanceNavDropdown {
   top: -5px !important;
   background-color: #F1F1F1 !important;
   color: #767676 !important;
}
.siteAssistanceNavDropdown button {
   font-weight: bold;
   font-size: .9em;
}
.siteAssistanceNavDropdown button:hover,.siteAssistanceNavDropdown button:active {
   background-color: #F8F9F9;
}

.headerPromo {
   text-decoration: none;
   color: #ffffbf;
   text-align: center;
   padding: 1px;
   position: absolute;
   bottom: 5px;
   left: 363px;
   width: 242px;
   font-size: .8em;
   background-color: #0e8dde;
   border-radius: 7px;

   &:hover {
      background-color: #00abf2 !important;
   }
}

.search {
   text-align: center;
   padding-left: 20px;
   padding-top: 4px;
   position: absolute;
   width: 300px;
   right: 0;
   bottom: 0px;
   height: 40px;
   background: linear-gradient(
      90deg,
      rgba(206,232,251,.5) 0,
      rgba(205,232,251,.5) 1%,
      rgba(132,198,236,.5)
   );
   border-top-left-radius: 7px;
}

.search input {
   padding-right: 2px;
}
.search button {
   position: absolute;
}

.horizontalNav {
   padding: 0px 8px;
   width: 100%;
   margin-top: 0;
   overflow: hidden;
   border-top: 1px solid #d9f0fd;
   border-bottom: 1px solid #d9f0fd;
   height: 27px;
   background: linear-gradient(
      180deg,
      #f7fcff 0,
      #e1f2fd 50%,
      #e1f2fd 70%,
      #f7fcff
   );
   font-weight: bold;
   text-align: center;
}
.horizontalNav > div {
   border-right: 1px solid #ccc;
}
.horizontalNav > div:last-child {
   border-right: none;
}

.horizontalNav a:link, .horizontalNav a:visited {
   color: #868585;
   display: inline-block;
   width: 100%;
}
.horizontalNav a:hover, .horizontalNav a:active {
   color: #EB8DA8;
   text-decoration: underline;
}

.menuIcon {
   position: absolute;
   bottom: 6px;
   left: 6px;
   z-index: 1;
}